<section class="menu">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          {% for link in linklists[section.settings.main_linklist].links %}
              {% if link.links == blank %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{{link.url}}">{{link.title}}</a>
                  </li>
              {% endif %}

              {% if link.links != blank %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                Shop
              </a>
              <div class="dropdown-menu full-width" aria-labeledby="navbarDropdown">
                <div class="row">
                    {% for childlink in link.links %}
                      <div class="col-4">
                        <div class="dropdown-header">{{childlink.title}}</div>
                        <div class="dropdown-divider"></div>
                          {% for sublink in childlink.links %}
                            <a href="{{sublink.url}}">{{sublink.title}}</a>
                          {% endfor %}
                      </div>
                     {% endfor %}
                  </div>
                  </div>
                </li>
              {% endif %}
          {% endfor %}





        </ul>
      </div>
    </nav>
  </div>
</section>