
<footer class="footer section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="social-media">
          {% if settings.facebook != blank %}
            <li>
              <a href="{{settings.facebook}}">
                <i class="fa fa-facebook-f"></i>
              </a>
            </li>
          {% endif %}

          {% if settings.twitter != blank %}
            <li>
              <a href="{{settings.twitter}}">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          {% endif %}

          {% if settings.pinterest != blank %}
            <li>
              <a href="{{settings.pinterest}}">
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
          {% endif %}

        </ul>

        <ul class="footer-menu">
          {% for block in section.blocks %}
            <li>
              <a href="{{block.settings.footer_link}}">{{block.settings.footer_text}}</a>
            </li>
          {% endfor %}
        </ul>

        <p class="copyright-text">&copy; {{ 'now' | date: "%Y" }} Fashion</p>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>

{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "text",
      "name": "Footer Link",
      "settings": [
        {
          "type": "text",
          "id": "footer_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "footer_link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}

