{% include 'page-header', title: 'Cart' %}

<section class="cart-area section">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-2">
          <div class="block">
            <div class="product-list">
              <form method="post">
                  
                    {% if cart.items.size == 0 %}
                      <p>Nothing In Your Cart</p>
                      <script>console.log({{ cart.items.size}});</script>

                    {% else %}
                      <script>console.log({{ cart.items.size}});</script>
                      <table class="table">
                      <thead>
                        <tr>
                          <th>Item Name</th>
                          <th class="text-center">Quantity</th>
                          <th>Item Price</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for line_item in cart.items %}
                      
                        <tr>
                          <td>
                            <div class="product-info">
                              <img width="80" src="{{line_item.image | product_img_url: '1920x'}}" alt="{{line_item.title}}">
                              <a href="{{line_item.url}}">{{line_item.title}}</a>
                            </div>
                          </td>
                          <td>
                            <input class="btn btn-default" 
                              type="number" 
                              name="updates[]" 
                              value="{{line_item.quantity}}"
                              min="0" pattern="[0-9]*">
                          </td>
                          <td>{{line_item.line_price | money}}</td>
                          <td>
                            <a class="product-remove" 
                              href="/cart/change?line={{forloop.index}}&quantity=0" rel={{line_item.id}}>Remove</a>
                          </td>
                        </tr>

                      {% endfor %}

                      </tbody>
                     </table>

                    {% endif %}

                <div class="row justify-content-end cart-total">
                  <div class="col-md-2">
                    Total
                  </div>
                  <div class="col-md-2">
                    {{cart.total_price | money}}
                  </div>
                </div>
                <input type="submit" name="checkout" class="btn btn-main pull-right" value="Checkout">
                <input type="submit" name="update" id="update-btn" class="btn btn-transparent pull-right" value="Update">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>