{% include 'page-header', title: {{page.title}} %}

<section class="contact section">
    <div class="container">
      <div class="row">
        <div class="contact-form col-md-6 ">
          {% form 'contact' %}  

            {% if form.posted_successfully? %} 
              <p class="alert alert-success" role="alert">Thank you for contacting us!</p>
            {% endif %}   

            <div class="form-group">
              <input type="text" placeholder="Your Name" class="form-control" name="contact[name]" id="name" required>
            </div>
            
            <div class="form-group">
              <input type="email" placeholder="Your Email" class="form-control" name="contact[email]" id="email"  required>
            </div>
            
            <div class="form-group">
              <input type="text" placeholder="Subject" class="form-control" name="contact[subject]" id="subject"  required>
            </div>
            
            <div class="form-group">
              <textarea rows="6" placeholder="Message" class="form-control" name="contact[message]" id="message"  required></textarea> 
            </div>

            <div>
              <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">
            </div>
         
          {% endform %}
        </div>

        <div class="contact-details col-md-6 ">
          <ul class="contact-short-info list-unstyled">
            {% if settings.address != blank %}
              <li>
                <i class="fa fa-home"></i>
                <span>{{ settings.address }}</span>
              </li>
            {% endif %}

            {% if settings.phone != blank %}
              <li>
                <i class="fa fa-mobile"></i>
                <span>Phone: {{ settings.phone }}</span>
              </li>
            {% endif %}

            {% if settings.fax != blank %}
              <li>
                <i class="fa fa-fax"></i>
                <span>Fax: {{ settings.fax }}</span>
              </li>
            {% endif %}
            {% if settings.email != blank %}
              <li>
                <i class="fa fa-envelope-o"></i>
                <span>Email: {{ settings.email }}/span>
              </li>
            {% endif %}
          </ul>


          <div class="social-icon">
            <ul>
              {% if settings.facebook != blank %}
                <li><a class="fb-icon" href="{{ settings.facebook }}"><i class="fa fa-facebook"></i></a></li>
              {% endif %}

              {% if settings.twitter != blank %}
                <li><a href="{{ settings.twitter }}"><i class="fa fa-twitter"></i></a></li>
              {% endif %}

              {% if settings.pinterest != blank %}
                <li><a href="{{ settings.pinterest }}"><i class="fa fa-pinterest"></i></a></li>
              {% endif %}  
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>